<p id="notice"><%= notice %></p>

<h1>Listing Intake Amounts</h1>

<table>
  <thead>
    <tr>
      <th>Intake amount</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @intake_amounts.each do |intake_amount| %>
      <tr>
        <td><%= intake_amount.intake_amount %></td>
        <td><%= intake_amount.date %></td>
        <td><%= link_to 'Show', intake_amount %></td>
        <td><%= link_to 'Edit', edit_intake_amount_path(intake_amount) %></td>
        <td><%= link_to 'Destroy', intake_amount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intake amount', new_intake_amount_path %> | 
<%= link_to 'Dashboard', root_path %>
